{% load static %}

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0 custom-navbar" style="background: rgba(8,20,44, 0.1); backdrop-filter: blur(6px);">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <div class="navbar-nav align-items-center">
                <a href="{% url 'contact' %}" class="nav-item nav-link mx-5 {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'leaderboards' %}" class="nav-item nav-link mx-5 {% if request.resolver_match.url_name == 'leaderboards' %}active{% endif %}">Leaderboards</a>
                {% else %}
                <a onclick="myFunction()" class="btn nav-item nav-link mx-5 {% if request.resolver_match.url_name == 'leaderboards' %}active{% endif %}">Leaderboards</a>
                {% endif %}
                
                <!-- Logo -->
                <a href="{% url 'index' %}" class="navbar-brand mx-5 p-0 d-none d-lg-block">
                    <h1 class="m-0"><img style="width:80px; height:80px; margin-top:3px;" src="{% static 'img/logo.png'%}" alt=""></h1>
                </a>
    
                <div class="nav-item dropdown mx-5">
                    <a href="{% url 'simulate' %}" class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'simulate' %}active{% endif %}" data-bs-toggle="dropdown">Simulate</a>
                    <div class="dropdown-menu m-0">
                        <a href="" class="dropdown-item">ATTACK!</a>
                        <a href="" class="dropdown-item">DEFEND!</a>
                    </div>
                </div>
                <a href="{% url 'about' %}" class="nav-item nav-link mx-5 {% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
                
            </div>
        </div>
    
        <!-- Check if the user is authenticated -->
        <div style="position: absolute; right: 40px; display: flex; align-items: center;">
            {% if request.user.is_authenticated %}
            <!-- Bell Icon -->
            <div class="dropdown">
                <a href="#" class="me-3 position-relative dropdown-toggle" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                    <!-- Badge for notifications -->
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(50%, -50%);">
                        <span class="visually-hidden">unread notifications</span>
                        <h6 class="text-white mb-0" style="font-size: 12px;" data-toggle="counter-up">{{ feedback_count }}</h6>
                    </span>
                </a>
                
                <!-- Dropdown Menu -->
                <div class="dropdown" style="position: relative;">
                    <ul class="dropdown-menu p-3" aria-labelledby="notificationDropdown" style="width: 300px; right: 0; position: absolute; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <!-- Container for "Mark all as read" link -->
                        <li class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #ddd; padding-bottom: 8px; margin-bottom: 8px;">
                            <span></span>
                            <a href="#" id="markAllAsRead" class="mb-2" style="text-decoration: none; color: #007bff; font-size: 14px;">Mark all as read</a>
                        </li>
                        {% for feedback in feedback_list %} 
                        <li class="d-flex align-items-center mb-3 mt-3 {% if feedback.is_new %}new-feedback{% endif %}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <img src="{% static 'img/alf1.jpg' %}" alt="Alex" class="rounded-circle me-3" style="width: 40px; height: 40px;">
                            <div>
                                <a class="dropdown-item p-0" href="#" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <strong>{{ feedback.user_id }}:</strong> 
                                    {{ feedback.feedback }}
                                </a>
                                <small class="text-muted">{{ feedback.created_at }}</small>    
                            </div>
                        </li>
                        <hr>
                        {% empty %}          
                        <li class="dropdown-item">No feedback available.</li>  
                        {% endfor %}
                    </ul>
                </div>
                
                
                
                
                  
                  
                  
            </div>
            <!-- Dropdown for logged in user -->
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle py-2 px-4" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.first_name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <!-- Button for login when user is not authenticated -->
            <a class="btn btn-primary py-2 px-4" href="{% url 'loginPage' %}">
                LOGIN
            </a>
            {% endif %}
        </div>
    </nav>
    
</div>
<script>
    function myFunction() {
  // Get the snackbar DIV
  var x = document.getElementById("snackbar");

  // Add the "show" class to DIV
  x.className = "show";

  // After 3 seconds, remove the show class from DIV
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>

<style>
.new-feedback {
    position: relative;
}

.new-feedback::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}



    @media (max-width: 992px) {
        .navbar-brand {
            display: none;
        }
    }

    .navbar {
        backdrop-filter: blur(6px);
    }

    #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #06a3da; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
